.logged-in-display {
    display: flex;
    min-height: 100vh;
}

.logged-out {
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
}

.login-button {
    background-color: rgb(0, 177, 83); 
    border: none;
    border-radius: 25px;
    height: 3rem;
    padding: 0 24px;
}

.login-button:hover {
    background-color: rgb(103, 212, 110);
}

.navigation {
    width: 220px;
}

.page-content {
    width: 100%;
}