nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.5rem;
    background-color: gray;
    height: 100%;
}

.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: 3rem 0;
}

.metrics-time-range {
    font-size: 1rem;
    display: block;
}

.logout {
    background-color: darkgray;
    border-radius: 25px;
    border: 2px solid white;
    padding: 5px 10px;
}

.logout:hover {
    background-color: lightgray;
    color: black;
}