.nav-link {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: 3rem 0;
    padding: 0 8px;
}

.logout {
    border-radius: 25px;
    border: 2px solid white;
    padding: 5px 10px;
}

.spotify-logo {
    height: 70px;
    width: 70px;
    margin: 0 auto;
}