.metrics {
    display: flex;
    justify-content: space-evenly;

}

.top-song-artist {
    display: flex;
    gap: 10px;
    margin: 1rem;
    background-color: lightgray;
}

.top-img {
    height: 50px;
    width: auto;
}

.top-artists, .top-songs {
    min-width: 360px;
}
