.metrics {
    display: flex;
    justify-content: space-evenly;

}

.top-song-artist {
    display: flex;
    gap: 10px;
    margin: 0.5rem;
}

.top-img {
    height: 50px;
    width: auto;
}

.top-artists, .top-songs {
    width: 400px;
}
